services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: trading_backend
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    volumes:
      - ./backend/output:/app/output

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: trading_frontend
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    environment:
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend